*{
  padding: 0;
  margin: 0;
}

a{
  transition-duration:.5s;
}

body{
  width: 100%;   
  height: 900px;
  font-family:'Montserrat', sans-serif;
  display: none;
}

header{
  position: fixed;
  width: 100%;
  height:80px;
  padding: 20px 100px;
  box-sizing: border-box;
  box-shadow: 0px 1px 3px 1px rgba(87,87,87,0.525);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  z-index: 100;
}

.contactHeader{
  display: none;
}


.logo a{
  text-decoration: none;
  color: #008DD6;
}

.harmburgerMenu{
  display: none;
}

.navigationContainer{
  display: none;
}

.desktopNavigationContainer{
  display: block; 
  width: 45%;
}

ul.desktopNavList{
  width: 100%;
  top:100px;
  left:10px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.desktopNavList li{
  text-transform: capitalize;
  list-style-type: none;
  font-size: 16px;
}


.desktopNavList a{
  width: 100%;
  height: 100%;
  text-decoration: none;
  text-align: center;
  color: rgb(177, 177, 177);
  display:flex;
  justify-content: center;
  align-items: center;
}

.desktopNavList li a:hover{
  background-color: white;
  color: #2b2b2b;
  font-weight: bold;
}

main{
  padding-top:10px;
  width: 100%;
  color: grey;
  box-sizing: border-box;
}

.mainInner{
  width: 100%;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  background-color: white;
}

section{
  width:100%;
}

.landPage{
  position: relative;
  height: 100vh;
  padding: 0 10px 0 10px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(180deg, rgba(0,0,0, 0.6), rgba(0,0,0,0.7)), url('../img/img.jpg');
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: -350px 0px;
}

.landPage h3{
  font-size: 2rem;
  margin-bottom: 80px;
  text-shadow: 0px 1px 1px rgba(56,56,57,0.5);
  color:white;
  margin-top: 280px;
}

.landPage p{
  color: white;
  font-size: 0.8rem;
  letter-spacing: 2.5px;
}

.Nshape, .shape{
  display: none;
}

#services{
  width: 100%;
  padding: 0 0 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.serviceText{
  position: relative;
  text-align: center;
  font-size: 1.5rem;
  margin: 100px 0;
  color: black;
}

.serviceText::after{
  content: "";
  display: block;
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translate(-50%,0);
  width: 50px;
  height:5px;
  background-color:#008DD6;
}

div.servicesInner{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
}

#services li{
  width: 30%;
  box-sizing: border-box;
  padding: 30px 30px;
  list-style-type: none;
  background-color: white;
  color: black;
  margin: 0 0 40px 0;
  border-radius: 10px;
  box-shadow: 0px 1px 30px 5px #dddddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 35px;
  font-size: 1.2rem;
}

#services li h3{
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 0 20px;
  color: #008DD6;
}

#services li p{
  width:90%;
  margin: 0  0 20px 0;
}

#services li i{
  transition: .5s;
}

#services li:hover i{
 animation: rotate;
 animation-duration: 1s;
}

.webDesignIcon,.webDevelopmentIcon{
  width: 100px;
  height:100px;
  border-radius: 50%;
  margin: 20px 0 30px 0;
  background-color: rgba(185, 185, 185, 0.363);
  display: flex;
  justify-content: center;
  align-items: center;
}

.fas{
  color:#008DD6;
  font-size:80px;
}

.fa-paint-brush{
  color: orange;
}

.price{
  color: #ffb600;
  font-weight: bold;
}




#expertise {
  background-color:#dbf6ff;
  color: black;
}

.expertiseInner{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.expertiseText{
  position: relative;
  padding: 10px 0;
  margin: 50px 0;
  font-size: 1.5rem;
  text-align: center;
}

.expertiseText::after{
  content: "";
  display: block;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translate(-50%,0);
  width: 50px;
  height:5px;
  background-color:#008DD6;
} 

#expertise li h4{
  font-size: 1.7rem;
}

.expertiseList{
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 30px;
  box-sizing: border-box;
}

.expertiseList li{
  width: 100%;
  padding: 80px 0;
  box-sizing: border-box;
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

.expertiseList li:hover{
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(233,233,233);
  background-color: #008DD6;
  color: #dbf6ff;
  transform: scale(1.1);
}

.expertiseList li:hover .fab{
  color: white;
  animation: rotate;
  animation-duration: .7s;
}

@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(90deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

.expertIcon{
  width: 100px;
  height: 100px;
  border-radius:50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fab{
  color:#008DD6;
  font-size:80px;
  transition: .5s;
}


#ourWorks {
  color: black;
  background-color:#f7f7f2;
}

.ourWorksInner{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.ourWorksText{
  position: relative;
  padding: 10px 0;
  margin: 50px 0;
  font-size: 1.5rem;
  text-align: center;
}

.ourWorksText::after{
  content: "";
  display: block;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translate(-50%,0);
  width: 50px;
  height:5px;
  background-color:#008DD6;
} 

.ourWorksList{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
  padding: 0 30px 0 30px;
  box-sizing: border-box;
}

.ourWorksList li{
  min-width: 35%;
  max-width: 35%;
  height: auto;
  padding: 0 0 40px 0;
  margin: 0 0 20px 0;
  box-sizing: border-box;
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .5s;
  line-height: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #bebebe;
  background-color:white;
  font-size: 1.2rem;
  overflow: hidden;
}


#ourWorks li h4{
  font-size: 1.7rem;
  margin:25px 0 25px 0;
} 

.workLink{
  width:30%;
  padding: 10px 5px;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color:#fdc000;
  color: black;
  margin: 30px 0 0 0;
  text-decoration: none;
  font-weight: bold;
}

.ourWorksList li p{
  width: 80%;
}

.ourWorkDescription{
  padding:0 10px;
}


.workDisplay{
  width: 100%;
  padding: -100px 0 0 0;
  margin: -30px 0 0 0;
}



/*.oliver .workLink{*/
/*  background-color:#fdb800;*/
/*}*/

/*.digitall .workLink{ */
/*  background-color:#e4148e;*/
/*} */





#contactUs{
  width:100%;
  margin: 0 0 40px 0;
  padding: 10px;
  box-sizing: border-box;
}

.contactInner{
  width:100%;
  margin:0 auto;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  color: black;
}

.contactInner div{
  padding:10px 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  background-color:black;
  margin:0 0 20px 0;
  border-radius: 10px;
}



.contactText{
  position: relative;
  padding: 10px 0;
  margin: 50px 0;
  font-size: 1.5rem;
  text-align: center;
}

.contactText::after{
  content: "";
  display: block;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translate(-50%,0);
  width: 50px;
  height:5px;
  background-color:#008DD6;
} 



.contactForm{
  width: 100%;
}

.contactForm label{
  display: block;
  margin-bottom: 0px;
  font-weight:bold;
}

.contactForm input{
  background-color:#dcdcdc;
  border: 1px solid #cfcfcf;
  padding:0 5px;
  width: 60%;
  height: 40px;
  margin-bottom: 30px;
}

.contactForm textarea{
  border: none;
  border-bottom: 4px solid #008DD6;
  padding:0 5px;
  width: 60%;
  height: 100px;
  margin-bottom: 30px;
}

.contactForm button{
  width: 100px;
  height:50px;
  border: none;
  display: block;
  background-color: #008DD6;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #e7e7e7;
}

#contactUs .fab{
  font-size: 1.5rem;
  color: white;
}
#contactUs .fas{
  font-size: 1.5rem;
  color: white;
}

.whatsAppLink{
 /* background-color:#25d366; */
  text-decoration: none;
  color: white;
  height: 30px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.cCall {
  margin:20px 0;
}



footer{
  width: 100%;
  padding: 60px 0;
  box-sizing: border-box;
  background-color: #2b2b2b;
  display: flex;
  justify-content: space-between;
  color: white;
}

footer div{
  width: 20%;
  margin-bottom: 25px;
}

.address{
  padding-left: 10px;
}

.address h3{
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.address p{
  line-height: 20px;
  color: #cacaca;
}

.links h3{
  margin-bottom: 10px;
}

.links ul{
  width: 100%;
}

.links ul li{
  list-style-type: none;
  margin-bottom: 10px;
}

.links ul li a{
  text-decoration: none;
  color: #cacaca;
}

.socialMediaText{
  margin-bottom:10px;
}

.socialMedia li{
  list-style-type: none;
  margin-bottom: 10px;
}

.socialMedia li a{
  text-decoration: none;
  color: #cacaca;
}

.credit {
  text-align: center;
}

.hide{
  animation: slideOut;
  animation-duration:.5s;
  animation-fill-mode: forwards;
}

.slide{
  animation: slideIn;
  animation-duration:1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}



@keyframes slideIn{
  0%{
    transform: translate(0, 100px);
    opacity: 0;
  }
  100%{
    transform: translate(0,0);
    opacity: 1;
  }
}

@keyframes slideOut{
  0%{
    transform: translate(0, 0);
    opacity: 1;
  }
  100%{
    transform: translate(0,-10px);
    opacity: 0;
  }
}


a.creditLink{
  text-decoration: none;
  color: white;
}